{% extends "header.html" %}

{% block content %}

<h3>Settings page:</h3>
{% if userMessage %}
  {{ userMessage }}
{% endif %}
<form action="." method="POST">
  {% csrf_token %}
  <h4>User</h4>
  {{ AccountUpdate.as_p }}
  {{ UserUpdate.as_p }}
  <input type="submit" name="userSubmit" value="Save">
</form> <br>

{% if passwordMessage %}
  {{ passwordMessage }}
{% endif %}
<form action="." method="POST">
  {% csrf_token %}
  <h4>Password</h4>
  {{ PasswordUpdate.as_p }}
  <input type="submit" name="passwordSubmit" value="Save">
</form> <br>

{% if infoMessage %}
  {{ infoMessage }}
{% endif %}
<form action="." method="POST">
  {% csrf_token %}
  <h3>Info</h3>
  {{ InfoUpdate.as_p }}
  <input type="submit" name="infoSubmit" value="Save">
</form>

{% if privacyMessage %}
  {{ privacyMessage }}
{% endif %}
<form action="." method="POST">
  {% csrf_token %}
  <h3>Privacy</h3>
  {{ PrivacyUpdate.as_p }}
  <input type="submit" name="privacySubmit" value="Save">
</form>
{% endblock %}
